<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Blog-5000</title>
</head>
<body>
    <header>
        <h1>myspace or something idk</h1>
        {{#if loggedIn}}
            <div id="navBar">
                <a href="/"><button id="homeLink" >Home</button></a>  
                <a href="/posts"><button id="postsLink">Blog</button></a> 
                <a href="/profile"><button id="profileLink" >My Profile</button></a>
                <button id="logoutHandler">Logout</button>
            </div>
        {{else}}
            <div id="navBar">
              <a href="/signup"><button id="signupLink">Sign up</button></a> 
              <a href="/login"><button id="loginLink" >Log in</button></a> 
            </div>
        {{/if}}
    </header>
    <div>
    {{{body}}}
    </div>



{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>