<h1>join the blog</h1>
<div>
    <form id="signupHandler">
        <div>
            <input type="username" id="usernameInput" placeholder="username">
        </div>
         <div>
            <input type="email" id="emailInput" placeholder="email@email.com">
        </div>
        <div>
            <input type="password" id="passwordInput" placeholder="password">
        </div>
        <button type="submit"> Sign me up!</button>
    </form>
</div>
<script src="/js/signup.js"></script>